body {
  font-family: 'fira code', monospace;
  background-image: url('bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #011627;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #011221;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #011221;
}

.intro-line {
  font-size: 1.5rem;
  color: #e5e9f0;
}

.skill {
  font-size: 2rem;
  color: #4d5bce;
}

.comment {
  color: #607b96;
}

.const {
  color: #4d5bce;
  font-size: 1rem;
}

.github {
  color: #43d9ad;
}

.github-link {
  color: #e99287;
  text-decoration: underline;
  text-decoration-color: #e99287;
}

.btn-shine {
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 80px;
  text-decoration: none;
  white-space: nowrap;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 1183px;
  }
  100% {
    background-position: 1183px;
  }
}

.gitmain {
  text-align: center;
  /* background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%); */
  color: #4d5bce;
  font-size: 2rem;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
}
.git {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.git:first-of-type {
  animation: showup 7s infinite;
}

.git:last-of-type {
  width: 0px;
  animation: reveal 7s infinite;
}

.git:last-of-type span {
  margin-left: -355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 400px;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 400px;
  }
}
@media only screen and (max-width: 600px) {
  .btn-shine {
    font-size: 50px;
  }
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 356px;
    }
    100% {
      background-position: 356px;
    }
  }
  .gitmain {
    font-size: 1.5rem;
  }

  @keyframes slidein {
    0% {
      margin-left: -500px;
    }
    20% {
      margin-left: -500px;
    }
    35% {
      margin-left: 0px;
    }
    100% {
      margin-left: 0px;
    }
  }

  @keyframes reveal {
    0% {
      opacity: 0;
      width: 0px;
    }
    20% {
      opacity: 1;
      width: 0px;
    }
    30% {
      width: 300px;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      width: 300px;
    }
  }
}
