/* .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
    font-family:'fire code', monospace !important;
} */

.name-tab {
  font-size: 1.2rem !important;
  padding: 0 4rem 0 3.5rem !important;
}
.tabcolor {
  border: 1px solid #1e2d3d !important;
  border-bottom: none !important;
  border-radius: 0 !important;
}
.contact-box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.nav-link {
  color: #607b96 !important;
}

.navbar {
  border-radius: 0 !important;
}

@media (min-width: 992px) and (max-width: 1400px) {
  .name-tab {
    font-size: 1.2rem !important;
    padding: 0 2rem 0 2.3rem !important;
  }
}

@media only screen and (max-width: 600px) {
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 1200px) {
}
