.constant {
  color: #c98bdf;
}
.constantName {
  color: #5565e8;
}
.text {
  color: #fea55f;
}
.text-link {
  text-decoration: none;
  color: #fea55f;
}
.arrow-right {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #fff;
}
.pic {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
}
.project-div {
  border: 1px solid #1e2d3d;
}
.fa-xmark {
  font-size: 1.1rem !important;
  color: #fff;
}
.tab-div {
  cursor: pointer;
}
.cards:hover {
  -webkit-box-shadow: 0px 0px 44px 9px rgba(82, 65, 176, 0.8);
  -moz-box-shadow: 0px 0px 44px 9px rgba(82, 65, 176, 0.8);
  box-shadow: 0px 0px 44px 9px rgba(82, 65, 176, 0.8);
}

@media (min-width: 992px) and (max-width: 1200px) {
  .projectName {
    font-size: 0.8rem;
  }
  .projectword {
    font-size: 0.8rem;
  }
  .cardtext {
    font-size: 0.8rem !important;
  }
}

@media only screen and (min-width: 992px) {
  .project-list {
    min-height: 87.5vh;
  }
}
@media only screen and (max-width: 992px) {
  .project-list {
    display: none;
  }
  .projectTab {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project-main-div {
    max-height: 50vh;
  }
  .project-list-div {
    justify-content: center;
    font-size: 1.5rem;
  }
  .pic-project {
    display: none;
  }
  .container-text {
    max-height: 75vh;
    overflow-y: scroll;
    font-size: 0.9rem;
  }
  .project-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .projectTab {
    display: none;
  }
  .tab-div {
    padding-top: 0.5rem !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .row {
    margin: 0 !important;
  }
  .projectName {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 600px) {
  .project-main-div {
    max-height: 50vh;
  }
  .project-list-div {
    justify-content: center;
    font-size: 1.5rem;
  }
  .pic-project {
    display: none;
  }
  .container-text {
    max-height: 75vh;
    overflow-y: scroll;
    font-size: 0.9rem;
  }
  .projectName {
    font-size: 1rem;
  }
  .tab-div {
    padding-top: 0.2rem !important;
    padding-left: 0.8rem !important;
    padding-right: 1rem !important;
  }
}
@media only screen and (min-width: 600px) {
}
@media only screen and (min-width: 1200px) {
}
